{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Change User Info</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'fonts/material-icon/css/material-design-iconic-font.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="main">
        <button type="button" style="margin-left: 500px; margin-bottom: 20px; padding: 10px 20px; background-color: #3498db; color: white; border: none; cursor: pointer;">
            <a href="{% url 'profile' username=request.user.username %}" style="text-decoration: none; color: white;">Go Back</a>
        </button>
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Change User Info</h2>
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="{{ form.password1.id }}"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                {{ form.password1 }}
                            </div>
                        
                            <div class="form-group">
                                <label for="{{ form.password2.id }}"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                {{ form.password2 }}
                            </div>
                        
                        
                        <div class="form-group form-button">
                            <input type="submit" name="signup" id="signup" class="form-submit" value="Update"/>
                            </div>
                        </form>
                        <style>
                            .custom-textarea {
                                width: 217px;
                                height: 100px;
                                padding: 10px;
                                resize: none;
                            }
                        </style>
                    </div>
                    <div>
                        <figure style="position: relative; align-items: center; display: flex; z-index: 1; bottom: 16px; left: 24px; padding-top: 80px; padding-left: 10px" class="profile-avatar">
                            <img src="{{ user.profile_img.url }}" alt="sign up image" style="width: 150px; height: 150px; border-radius: 50%; object-fit: cover; border: 3px solid #ffffff;" class="profile-img">
                        </figure>
                        <p style="padding-left: 30px; margin-top: -50px;">Current Profile Picture</p>


                    </div>
                </div>
            </div>
        </section>
    </div>
    <script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
</body>
</html>